nav li{display: inline; background-color: white;} 
nav li a{color: black}
input{border-radius: 5%;}
body{
    background-color: black !important;
    color: white;

}
.nav-link{
    color: black !important;
}